* {
 border: none;
 padding: 0;
 margin: 0;
}

html {
 font:  bold 11pt sans-serif;
 color: red;
}

body {
 display: grid;
 grid-template-columns: 2.625in 2.625in 2.625in;
 grid-column-gap: 0.125in;
 grid-row-gap: 0;
 width: 8.125in;
}

.vcard {
 /* width+height+padding = 2.625x1 */
 width: 2in;
 height: 0.75in;
 padding: 0.125in 0.425in 0.125in 0.2in;
 background-repeat: no-repeat;
 background-attachment: local;
 background-size: auto 75%;
 /* image name and position */
 background-image: url('background.svg');
 background-position: 1.85in 50%;
}

.vcard:nth-of-type(30n) {
  break-after: page;
}

.adr {
  color: black;
  font:  bold 10pt sans-serif;
}

@page
{
  size: letter portrait;
  /* body(width+height)+page(margin) = 8.5x11 */
  /* At the default 96 pix/in the rendered size of a page should be 816x1056 */
  margin: 0.5in 0.1875in;
}
