* {
 border: none;
 padding: 0;
 margin: 0;
}

body, html {
 font:  bold 11pt sans-serif;
 color: red;
}

.page {
 display: grid;
 grid-template-columns: 2.75in 2.75in 2.75in;
 grid-column-gap: 0;
 grid-row-gap: 0;
 width: 8.5in;
/* height: 10in; */
 padding: 0.5in 0.125in;
}

.page>section {
 width: 2in;
 height: 0.7in;
 /* border: solid 1px black; */
 padding: 0.15in 0.5in 0.15in 0.25in;
 background-image: url('background.svg');
 background-repeat: no-repeat;
 background-attachment: relative;
 background-position: 95% 50%;
 background-size: auto 75%;
}

.adr {
  color: black;
  font:  bold 10pt sans-serif;
}

@page
{
  size: letter portrait;
  margin: 0;
}
